/* body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-items: center;
}
  
h1 {
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    display: block;
    margin: auto;
}

.frasesContainer {
    display: flex;
}

.btn-group button {
    background-color: black; 
    border: 1px solid black; 
    color: white; 
    cursor: pointer;
}

.btn-group button:not(:last-child) {
    border-bottom: none; 
}

.btn-group button:hover {
    background-color: grey;
}

a {
    text-decoration: none;
    size: 20px;
} */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; /* Adjusted from justify-items to justify-content */
    align-items: center;
    align-content: center;
    background-image: url('CapaSite.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    backdrop-filter: blur(5px);
}

.fraseContainer {
    margin: 20px;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
}

#frase {
    margin-top: 0;
    font-size: 5vh;
    text-align: center;
    color: white;
}

.btn-group {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.btn-group a {
    margin-bottom: 10px; /* Adjusted margin to create space between buttons */
    text-decoration: none;
}

button {
    padding: 15px;
    width: 40vw;
    height: 9vh;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.5); /* Darker background transparency */
    backdrop-filter: blur(8px);
    color: white; /* Set text color to white for better visibility */
    transition: background 0.3s ease-in-out;
    font-size: 3vw;
}

.icon {
    margin-right: 12px;
    width: 5vw;
    height: 5vw;
}

button:hover {
    background: rgba(0, 0, 0, 0.7); /* Darker background transparency on hover */
}